<ion-content padding>

  <button *ngIf="isHosting" ion-button block class="btn" (click)="join()">
    &nbsp;Join
  </button>
  <ion-item *ngIf="!isHosting">
    <ion-label color="{{hostLabelColor}}" stacked>Host Email address</ion-label>
    <ion-input type="email" [(ngModel)]="hostEmailAddress" 
    [ngModelOptions]="{standalone: true}" placeholder="Email address"></ion-input>
  </ion-item>
  <ng-container *ngIf="!isHosting">
      <button color="dark" ion-button block class="btn" (click)="hostMode(false)">
          &nbsp;Join
        </button>
  </ng-container>

  <button *ngIf="isHosting" color="dark" ion-button block class="btn" (click)="hostMode(true)">
    &nbsp;Host New Game
  </button>

</ion-content>