<ion-content padding>
    <ion-item><!-- here -->
      <ion-avatar item-left>
          <img [src]="userInfo?.image" class="img img-circle"/>
      </ion-avatar>
      {{userInfo.email}}
      <h4 [class.hide]="!isEliminated" style="float:right;background-color:red;color:white;">ELIMINATED</h4>
  </ion-item>
  <ion-item text-center text-wrap no-lines>
    <h1>{{ (currentQuestion | async) }}</h1>
  </ion-item>  
    <ion-list>
      <ng-container *ngFor="let option of currentOptions | async;let i = index">
        <button id="{{option}}" ion-button large round 
        [outline]="olProps[i]" 
        [color] = "chosenColor[i]"
        [disabled]="disabledProp || isLate || isEliminated" style="width:100%" 
        (click)="chosen(i, currentQuestionIdVal);">
          {{option}} <span [class.hide]="!displaySelectionCount">
            &nbsp;&nbsp;({{this.optionSelectedCount[i]}})</span></button>
      </ng-container>
    </ion-list>
    <div text-center *ngIf="currentQuestionIdVal > 0">
      <progress value="{{tick}}" max="10" id="progressBar"></progress>
    </div>
    <ng-container *ngIf="isHost">
        <div text-center *ngIf="currentQuestionIdVal > 0 && !isGameEnded">
          <button ion-button round (click)="nextQuestion()" [disabled]="!displaySelectionCount">Next Question</button>
        </div>
        <div text-center *ngIf="currentQuestionIdVal == 0">
            <button *ngIf="isHost" color="danger" ion-button block class="btn" (click)="nextQuestion()">
                &nbsp;Begin Q1
              </button>
        </div>
    </ng-container>
    <h1 *ngIf="!isHost && currentQuestionIdVal == 0">Be Ready for Q1.</h1>

      <div [class.hide]="!isGameEnded">
        We have a winner: {{winner}}
      </div>

  <!--<button (click)="logout()" ion-button>Logout</button>-->
</ion-content>