<ion-content padding>

  <button *ngIf="mode" color="danger" ion-button block class="btn" (click)="startGame()">
    &nbsp;Start Game
  </button>
    <p text-center>{{members?.length}} Players Online</p>
    <!-- <ion-row>
        <ion-item no-lines>
        <ion-scroll scrollX="true" scroll-avatar>
            <ion-avatar>
                <div *ngFor="let member of members">
              <img src="{{member.image}}" class="scroll-item"/>
              <label>{{member.name}}</label>
              </div>
            </ion-avatar>
        </ion-scroll>
        </ion-item>
      </ion-row> -->
      <ion-scroll scrollY="true">
      <ion-list>
        <ion-item no-lines *ngFor="let member of members">
            <ion-avatar item-start>
              <img src="{{member.image}}">
            </ion-avatar>
            <label>{{member.name}}</label>
        </ion-item>
      </ion-list>
    </ion-scroll>
</ion-content>